altgraph==0.17.5
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.12
packaging==26.1
pefile==2024.8.26
platformdirs==4.9.6
psutil==7.2.2
pydantic==2.13.3
pydantic_core==2.46.3
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pypinyin==0.55.0
PySide6==6.11.0
PySide6-FluentUI-QML==1.6.7
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pywin32-ctypes==0.2.3
qasync==0.28.0
selectolax==0.4.7
setuptools==82.0.1
shiboken6==6.11.0
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==16.0
